$light: #ffffff;
$dark: #222222;
$primary-orange: #ff8a2d;
$orange-300: #ffae6d;
$orange-200: #ffbc86;

$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #adadad;
$gray-7: #f2f2f2;
$gray-8: #F8F9FD;

$red-500: #ff6b6b;
$red-200: #ffc9c9;
$green-200: #b2f2bb;
$green-500: #51cf66;
$yellow-200: #ffec99;
$blue-200: #a5d8ff;
